<div class="overflow-x-auto">
  <table class="table">
    <!-- head -->
    <thead>
    <tr>
      <th>
        <label>
          <input type="checkbox" class="checkbox" />
        </label>
      </th>
      <th>Base Data</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% books.each do |book| %>
      <tr>
        <th>
          <label>
            <input type="checkbox" class="checkbox" />
          </label>
        </th>
        <td>
          <div id="picture" class="flex">
            <div class="avatar">
              <div class="mask mask-squircle w-32 h-32">
                <%= book.avatar(:sm)%>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="font-bold"><%= book.title %></div>
        </td>
        <td>
          <div class="font-bold"><%= book.category %></div>
        </td>
        <th>
          <div class="text-sm opacity-50"><%= book.author.name %></div>
        </th>
        <th>
          <button class="btn btn-sm btn-ghost" hx-get="/books/<%= book.id %>/edit" hx-target="#picture" hx-swap="innerHTML" hx-trigger="click">Edit</button>
        </th>
      </tr>
    <% end %>

    <!-- foot -->
    <tfoot>
    <tr>
      <th></th>
      <th>Cover</th>
      <th>Title</th>
      <th>Genre</th>
      <th>Author</th>
      <th>
      </th>
    </tr>
    </tfoot>

  </table>
</div>
